/* widget */
.widgets-php .eaw-columns-2 {
  overflow: hidden;
  float: left;
  width: 46%;
  margin-right: 3.5%;
}
.widgets-php .eaw-columns-3 select.widefat {
  width: 98.5%;
}
.widgets-php .eaw-columns-3 label {
  font-size: 11px;
}
.widgets-php .eaw-columns-3 p small {
  color: #777;
  font-style: italic;
}
.widgets-php .eaw-column-last {
  float: right;
  margin-right: 0;
}

.small-input {
  width: 30%;
}

.eaw-block {
  display: block;
}

.eaw-multiple-check-form {
  margin: 1em 0;
}
.eaw-multiple-check-form ul {
  border: 1px solid rgb(238, 238, 238);
  padding: 10px;
  max-height: 110px;
  overflow: auto;
  margin-top: 0;
}
.eaw-multiple-check-form ul li:last-child {
  margin-bottom: 0;
}

.settings_page_widget-for-eventbrite-api-settings-account #wpfooter {
  display: none;
}

.wfea-settings ul {
  list-style-type: disc;
  list-style-position: inside;
}
.wfea-settings li {
  margin-left: 20px;
}

.fs-settings-meta-box-wrap input.invalid {
  border: 2px solid red;
}
.fs-settings-meta-box-wrap input.valid {
  border: 2px solid green;
}

.settings_page_widget-for-eventbrite-api-settings .api-key-status {
  background: green;
  padding: 7px 40px;
  color: white;
  border: 2px solid black;
  display: none;
  margin-top: 1em;
}
.settings_page_widget-for-eventbrite-api-settings .api-key-status.error {
  background: red;
  display: block;
}
.settings_page_widget-for-eventbrite-api-settings .api-key-status.connected {
  background: green;
  display: block;
}

#wfea-wizard .fs-notice {
  display: none !important;
}
#wfea-wizard p, #wfea-wizard li {
  font-size: 16px;
}
#wfea-wizard .api-key-result.active {
  width: 300px;
  background: green;
  padding: 10px;
  color: white;
  border: 2px solid black;
}
#wfea-wizard .api-key-result.active.error {
  background: red;
}
#wfea-wizard .api-key-result.active.connected {
  background: green;
}
#wfea-wizard .api-key-result.active.connecting {
  background: lightgray;
  animation: progress 5s infinite;
}
#wfea-wizard .container .block {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  padding: 20px;
  background-color: #fff;
  border: 2px #B9B9BA solid;
  border-radius: 10px;
}
#wfea-wizard .container .block .logo {
  text-align: center;
}
#wfea-wizard .container .block h1 {
  font-size: 28px;
}
#wfea-wizard .container .block .settings-link {
  float: right;
}

.wfea-block-control__number {
  position: relative;
  max-width: 120px;
}
.wfea-block-control__number input {
  z-index: 1;
}

.wfea-block-control__venue-contrast-popover button:nth-child(2) {
  background-color: black;
  color: white;
}

.dashicon.gray {
  color: rgb(75, 85, 99);
}
.dashicon.red {
  color: rgb(220, 38, 38);
}
.dashicon.orange {
  color: rgb(217, 119, 6);
}
.dashicon.green {
  color: rgb(5, 150, 105);
}
.dashicon.blue {
  color: rgb(37, 99, 235);
}
.dashicon.indigo {
  color: rgb(79, 70, 229);
}
.dashicon.purple {
  color: rgb(124, 58, 237);
}
.dashicon.pink {
  color: rgb(219, 39, 119);
}
@keyframes progress {
  from {
    background-color: lightgrey;
  }
  to {
    background-color: black;
  }
}

/*# sourceMappingURL=admin.css.map */
